@charset "UTF-8";

#community {
	color: royalblue;
}

.main_title {
	padding-right: 17vw;
}

/* .like_count, .comment_count, .view_count { */
/* 	padding-right: 2vw; */
/* } */
.like_count, .comment_count {
	padding-right: 2vw;
}

.board_list_inside:hover {
	/* 	background-color: aqua; */
	
}



.nickname:hover {
	color: blue;
}

.topic {
	padding-right: 35vw;
}

.nickname_area:hover {
	
}

.hp_point {
	padding-right: 2vw;
}

div.write_btn_container {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 1vw;
}

.write_btn2 {
	color: white;
}

.board_list a {
	display: block;
}

.board_list a:hover {
	color: red;
	background-color: aqua;
}

div.paging-container {
	display: flex;
	justify-content: center;
}

/* .btn_category.active { */

/*     color: white; */
/*     background-color: royalblue; */
/* } */

.btn.active {
    background-color: blue !important;
}
