@charset "UTF-8";

.main_info {
	width: 600px;
	border: 1px solid aqua;
}

.image {
	display: flex;
	position: relative;
	margin-bottom: 36px;
	border: 1px solid #e435ed;
	overflow: hidden;
}

.info_tab {
	width: 100%;
	margin-bottom: 48px;
	border: 1px solid red;
}

.tab {
	display: flex;
}

.service {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	color: #555969;
	background-color: #fafafc;
	cursor: pointer;
	height: 60px;
	padding: 0 4px;
	border-top: 1px solid #e4e5ed;
	border-right: 1px solid #e4e5ed;
	border-bottom: 1px solid #000000;
}

.side_info {
	display: block;
}

.title {
	display: block;
}
/* ====================================================================================== */

body{
    margin-top:20px;
    background:#e7ebf2;    
}
/*
Profile
*/
.si-border-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social-icon-sm {
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px !important;
    color: #555;
    text-shadow: none;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #AAA;
}
.tabs-admin > .nav-item > .nav-link.active {
    border-color: #0073ff;
    color: #0073ff;
}

.tabs-admin > .nav-item > .nav-link {
    padding: 10px 15px;
    color: #555;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
}
.act-content span.text-small {
    display: block;
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.text-small {
    font-size: 12px !important;
}
.admin-tab-content {
    padding: 10px 15px;
}

.pt30 {
    padding-top: 30px !important;
}
.card .card-title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 28px;
    margin: 0;
    /* font-size: .9rem; */
    font-weight: 600;
    line-height: 28px;
}

.mb20 {
    margin-bottom: 20px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}

.pt20 {
    padding-top: 20px !important;
}
.text-small {
    font-size: 12px !important;
}

.text-muted {
    color: #999 !important;
}
.card .card-content {
    padding: 15px 15px;
}
.profile-header {
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .profile-header .img-fluid.rounded-circle {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block; }

.activity-list > li {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.activity-list .float-left {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  border-radius: 50%;
  background-color: #eee;
  font-size: 20px;
  line-height: 100%;
  line-height: 43px;
  text-align: center; }
  .activity-list .float-left a {
    display: inline-block;
    color: #999; }

.act-content {
  overflow: hidden; }
  .act-content span.text-small {
    display: block;
    color: #999;
    margin-bottom: 10px;
    font-size: 12px; }
