@charset "UTF-8";
#qna {
    color: royalblue;
}
.write_tab {
	font-size: 20px;
	font-weight: bold;
}
.input_section {
	margin: 20px 0px;
}
.btn-primary {
	
}

.margin_right_20{
	margin-right: 20px;
	
}

.write_wrap {
	margin: 20px 0px;
	border-bottom: 1px solid black;
}
.note-frame {
	font-family: inherit;
}
.form-select {
	padding: 0.5rem 0.75rem;
}
select option[value=""][disabled] {
	display: none;
}
.placeholder_color{
	color: hsl(215, 13%, 70%);
}
.img_input_btn{
	width: 385px;
	height: 230px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	cursor: pointer;
}
.img_input_btn:hover {
	box-shadow : 1px 1px 10px -5px rgb(220,220,220); 
}
.img_input_btn2{
	width: 40%;
	margin-bottom: 20px;
}
.position_select{
	width: 200px;
	
}
.position_select_member{
	width: 200px;
	margin: 0px;
}
.member_add_form{
	padding-top: 20px;
}
.member_result{
	border: 1px solid gray;
	border-radius: 8px;
	padding: 5px;
	cursor: pointer;
}
.star{
	color: red;
}
.note-modal-footer{
	height: 60px;
}
.form-group{
	display: inherit;	
}