<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.co.hit.dao.AdminDao">
	
	<select id="searchBoard" resultType="kr.co.hit.dto.AdminDto" parameterType="string">
		SELECT b.*, c.cat_name FROM BOARD b INNER JOIN CATEGORY c ON b.cat_no=c.cat_no  WHERE B_TITLE LIKE CONCAT('%', #{search_key}, '%') ORDER BY b_write_date DESC
	</select>
	
	<select id="searchMember" resultType="kr.co.hit.dto.AdminDto" parameterType="string">
		SELECT * FROM MEMBER WHERE member_id LIKE CONCAT('%', #{search_key}, '%') OR nickname LIKE CONCAT('%', #{search_key}, '%')
	</select>
	
	<select id="cntWeekBoard" resultType="kr.co.hit.dto.AdminDto">
		SELECT case when GROUPING(c.cat_name)=1 then '합계' ELSE c.cat_name END AS cat_name, COUNT(*) cntweek FROM BOARD b INNER JOIN CATEGORY c ON b.cat_no=c.cat_no  
			WHERE b.b_write_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() GROUP BY c.cat_name WITH ROLLUP ORDER BY cat_name 
	</select>
	
	<select id="cntWeekReply" resultType="kr.co.hit.dto.AdminDto">
		SELECT case when GROUPING(c.cat_name)=1 then '합계' ELSE c.cat_name END AS cat_name, COUNT(*) replyweek FROM REPLY r INNER JOIN BOARD b ON b.b_no=r.b_no 
			INNER JOIN CATEGORY c ON b.cat_no=c.cat_no  
			WHERE b.b_write_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() GROUP BY c.cat_name WITH ROLLUP ORDER BY cat_name;
	</select>
	
	<delete id="delBoard" parameterType="java.util.List">
		DELETE FROM BOARD WHERE b_no in <foreach collection="list" item="b_no" index="index" open="(" close=")" separator=",">#{b_no}</foreach>
	</delete>
	
	<delete id="delMember" parameterType="java.util.List">
		DELETE FROM MEMBER WHERE member_no in <foreach collection="list" item="member_no" index="index" open="(" close=")" separator=",">#{member_no}</foreach>
	</delete>
	
	<select id="memberChart">
		SELECT DATE_FORMAT(join_date, '%Y-%m') months, COUNT(*) count FROM MEMBER 
			WHERE join_date BETWEEN DATE_ADD(NOW(), INTERVAL -1 YEAR) AND NOW() 
			GROUP BY months 
			ORDER BY months
	</select>
	
	<select id="reportList" resultType="kr.co.hit.dto.AdminDto">
		SELECT a.*, b.nickname reporter FROM 
			(SELECT m.nickname reported, r.* FROM REPORT r INNER JOIN MEMBER m ON m.member_no=r.member_no) a INNER JOIN 
			(SELECT r.report_member, m.nickname, r.report_no FROM REPORT r INNER JOIN MEMBER m ON m.member_no=r.report_member) b ON a.report_no = b.report_no
	</select>
	
	
</mapper>




