<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.ImageDao">
	<select id="searchName" resultType="String" parameterType="int">
		SELECT IMAGE_NAME FROM IMAGE WHERE MEMBER_NO = #{member_no}
	</select>
	
	<delete id="deleteImage" parameterType="String">
		DELETE FROM IMAGE WHERE IMAGE_NAME = #{Name}	
	</delete>
</mapper>