<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.MemberDao">
	<resultMap type="kr.co.hit.dto.MemberDto" id="memberMap">
		<result property="member_no" column="member_no"/>
		<result property="member_id" column="member_id"/>
		<result property="password" column="password"/>
		<result property="nickname" column="nickname"/>
		<result property="email" column="email"/>
		<result property="contact" column="contact"/>
		<result property="grade" column="grade"/>
		<result property="git_link" column="git_link"/>
		<result property="baekjoon" column="baekjoon"/>
		<result property="authority" column="authority"/>
		<result property="naver_id" column="naver_id"/>
		
		<collection property="authList" resultMap="authMap"/>
	</resultMap>

	<resultMap type="kr.co.hit.dto.MemberAuth" id="authMap">
		<result property="member_id" column="member_id"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	
	<!-- 회원 가입 -->
	<insert id = "insertMember" parameterType="kr.co.hit.dto.MemberDto">
	INSERT INTO MEMBER (member_id, nickname, password, email, contact, grade, git_link, baekjoon, authority, naver_id)
	VALUES (#{member_id}, #{nickname}, #{password}, #{email}, #{contact}, 0, #{git_link}, #{baekjoon}, 'ROLE_USER', 'Online')
	</insert>
	
	<!-- getMember -->
	<select id ="getMember" parameterType="String" resultType="kr.co.hit.dto.MemberDto" resultMap="memberMap">
	SELECT member_no, member_id, password, nickname, email, contact, grade, git_link, baekjoon, authority, naver_id FROM MEMBER WHERE member_id = #{member_id}
	</select>
	
	<!-- ID중복검사 -->
	<select id="checkId" parameterType="String" resultType="int">
        select count(*) from MEMBER where member_id=#{member_id}
    </select>
</mapper>