<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.MessageDao">
	
	<select id="selectMessageList" resultType="kr.co.hit.dto.MessageDto">
		SELECT * FROM MESSAGE WHERE M_RECEIVE = '123' ORDER BY M_DATE DESC
	</select>
	
	
	
	
</mapper>