<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.MessageDao">
	
	<select id="selectMessageList" resultType="kr.co.hit.dto.MessageDto">
		SELECT * FROM MESSAGE WHERE M_RECEIVE = '123' ORDER BY M_DATE DESC
	</select>
	
	<select id="selectSendList" resultType="kr.co.hit.dto.MessageDto">
		SELECT * FROM MESSAGE WHERE M_SEND = '123' ORDER BY M_DATE DESC
	</select>
	
	<insert id="sendMessage">
		INSERT INTO MESSAGE (M_SEND, M_RECEIVE, M_DATE, M_CONTENT, M_WATCH) VALUES( '123', #{m_receive}, NOW(), #{m_content}, 0 )
	</insert>
	
	<delete id="deleteMessage" parameterType="java.util.List">
		DELETE FROM MESSAGE WHERE M_NO in <foreach collection="items" item="items" open="(" close=")" separator=",">#{item.val}</foreach>
	</delete>
	
	
</mapper>