<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.ProfileDao">
	
	<select id="getUserInfo" resultType="kr.co.hit.dto.MemberDto" parameterType="string">
		SELECT m.*, img.image_url FROM MEMBER m LEFT JOIN IMAGE img ON m.member_no=img.member_no WHERE MEMBER_ID = #{id}
	</select>
	
 	<update id="updateInfo" parameterType="kr.co.hit.dto.MemberDto">
		UPDATE MEMBER SET  NICKNAME=#{nickname}, EMAIL=#{email}, CONTACT=#{contact}, 
			GIT_LINK=#{git_link}, BAEKJOON=#{baekjoon} WHERE MEMBER_ID=#{member_id}
	</update> 
	
	<insert id="insertImage" parameterType="kr.co.hit.dto.ImageDto" >
		insert INTO IMAGE (image_name, image_realname,image_url, member_no) 
	VALUES(#{image_name},#{image_realname},#{image_url},#{member_no})
	</insert>
	
	<select id="getWriteList" resultType="kr.co.hit.dto.ProfileDto" parameterType="string">
		SELECT b.b_no, b.b_title, b.b_content, b.b_write_date, m.member_no, m.member_id, c.* 
		FROM BOARD b left JOIN MEMBER m ON b.member_no=m.member_no 
		LEFT JOIN CATEGORY c ON b.cat_no=c.cat_no 
		WHERE m.member_id=#{member_id} ORDER BY b_write_date DESC
	</select>
	
	<select id="getMemberWrite" resultType="kr.co.hit.dto.ProfileDto" parameterType="string">
		SELECT b.b_no, b.b_title, b.b_content, b.b_write_date, m.member_no, m.member_id, c.* 
		FROM BOARD b left JOIN MEMBER m ON b.member_no=m.member_no 
		LEFT JOIN CATEGORY c ON b.cat_no=c.cat_no 
		WHERE m.member_id=#{member_id} AND NOT b.topic_no = 6 ORDER BY b_write_date DESC
	</select>
	
	<select id="getReplyList" resultType="kr.co.hit.dto.ProfileDto" parameterType="string">
		SELECT b.b_no, b.b_title, b.b_content, r.r_content, r.reply_date, c.cat_name
		FROM REPLY r LEFT JOIN BOARD b ON r.b_no=b.b_no 
		LEFT JOIN MEMBER m ON r.nickname=m.nickname 
		LEFT JOIN CATEGORY c ON b.cat_no=c.cat_no 
		WHERE member_id = #{member_id} ORDER BY reply_date DESC
	</select>
	
	<select id="getCountWrite" resultType="kr.co.hit.dto.ProfileDto" parameterType="string">
		SELECT cat_name, COUNT(c.cat_name) AS count FROM BOARD b 
		LEFT join CATEGORY c ON b.cat_no=c.cat_no 
		LEFT JOIN MEMBER m ON b.member_no=m.member_no 
		WHERE m.member_id=#{member_id} 
		GROUP BY c.cat_name
	</select>
	
	<select id="getCountReply" resultType="kr.co.hit.dto.ProfileDto" parameterType="string">
		SELECT cat_name, COUNT(c.cat_name) AS COUNT FROM REPLY r 
		LEFT JOIN BOARD b ON r.b_no=b.b_no 
		LEFT JOIN CATEGORY c ON b.cat_no=c.cat_no 
		LEFT JOIN MEMBER m ON r.nickname=m.nickname 
		WHERE m.member_id=#{member_id}  
		GROUP BY c.cat_name
	</select>
	
	<select id="getMeetingList" resultType="kr.co.hit.dto.MeetingDto" parameterType="string">
		SELECT B.B_NO, B.B_TITLE, B.B_CONTENT, B.B_WRITE_DATE, B.B_VIEW, B.B_REPLY, B.B_RECOMMEND, B.MEMBER_NO, B.CAT_NO, M.MEET_TAGS, M.MEET_TOPIC_NAME, 
		M.MEET_STATE, M.MEET_FIELD, tmp.apply_max, tmp.apply, mem.member_id  
		FROM BOARD B INNER JOIN MEETING M ON B.B_NO = M.B_NO
		INNER JOIN (SELECT b_no, backend + frontend + SERVER + pm AS apply_max, backend_apply + frontend_apply + server_apply + pm_apply AS apply FROM MEETING ) tmp
		ON B.B_NO = tmp.B_NO 
		LEFT JOIN MEMBER mem ON B.member_no = mem.member_no 
		WHERE CAT_NO = 3 AND member_id = ${member_id}
	</select>
	
	<select id="applyMeetingList" resultType="kr.co.hit.dto.MeetingDto" parameterType="string">
		SELECT B.B_NO, B.B_TITLE, B.B_CONTENT, B.B_WRITE_DATE, B.B_VIEW, B.B_REPLY, B.B_RECOMMEND, B.MEMBER_NO, B.CAT_NO, M.MEET_TAGS, M.MEET_TOPIC_NAME, 
		M.MEET_STATE, M.MEET_FIELD, tmp.apply_max, tmp.apply, mem.member_id, mm.meeting_position, mm.meeting_tmp 
		FROM BOARD B INNER JOIN MEETING M ON B.B_NO = M.B_NO
		INNER JOIN (SELECT b_no, backend + frontend + SERVER + pm AS apply_max, backend_apply + frontend_apply + server_apply + pm_apply AS apply FROM MEETING ) tmp
		ON B.B_NO = tmp.B_NO
		INNER JOIN MEETING_MEMBER mm ON B.b_no=mm.b_no
		INNER JOIN MEMBER mem ON mm.member_no=mem.member_no
		WHERE CAT_NO = 3 AND member_id= ${member_id}
	</select>
	
	<insert id="report">
		INSERT INTO REPORT (member_no, report_member, report_reason) VALUES(#{reported}, #{report_member}, #{report_reason})
	</insert>
	
	
	<select id="selectLectureList2"
		resultType="kr.co.hit.dto.LectureDto">
		SELECT B.B_NO, B.B_TITLE, B.B_CONTENT, B.B_WRITE_DATE,
		B.B_VIEW,
		B.B_REPLY,
		B.B_RECOMMEND,
		B.MEMBER_NO, B.CAT_NO,
		L.LECTURE_TAGS,
		L.LECTURE_TOPIC_NAME,
		L.LECTURE_STATE, L.LECTURE_FIELD
		FROM BOARD B
		INNER JOIN
		LECTURE L
		ON B.B_NO =
		L.B_NO

		WHERE CAT_NO = 5  AND B.B_NO IN (358, 294, 292)
	</select>
	
</mapper>