<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.dao.ReplyDao">
  <select id="getReplies" resultType="kr.co.hit.dto.ReplyDto">
<!--       SELECT * FROM REPLY WHERE board_no = #{board_no} -->
      SELECT * FROM REPLY WHERE b_no = #{b_no}
      
  </select>
  
  <insert id="addReply">
<!--       INSERT INTO REPLY (reply_no, nickname, r_content, reply_date, board_no) -->
<!--       VALUES (#{reply_no}, #{nickname}, #{r_content}, now(), #{board_no}) -->
      
      INSERT INTO REPLY (reply_no, nickname, r_content, reply_date, b_no)
      VALUES (#{reply_no}, #{nickname}, #{r_content}, now(), #{b_no})

  </insert>

</mapper>
