<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.hit.mapper.ReplyMapper">
  <select id="selectByBoardNo" resultType="kr.co.hit.dto.ReplyDto">
      SELECT * FROM replies WHERE board_no = #{board_no}
  </select>
  
  <insert id="insert">
      INSERT INTO replies (reply_no, board_no, nickname, r_content)
      VALUES (#{reply_no}, #{board_no}, #{nickname}, #{r_content})
  </insert>

</mapper>
